// Base Colours
$gold : #a29061;
$gold-grey: #eae7dd;
$green: #52983c;
$dark-green:#004229;

$light-grey: #eee;
$mid-grey: #999999;
$grey: #666666;
$dark-grey: #333333;


// Font Colours
$body-font-color: $grey;
$breadcrumbs-link: $gold;
$breadcrumbs-hover: $green;
$link-color: $green;
$link-hover: $gold;
$main-title: $green;
$nav-link: $gold;
$nav-link-hover: $green;
$testimonials-title: $gold;

// Element Colours
$border-color: $gold;
$contact-title-bg: $light-grey;
$footer-bg: $dark-green;
$history-bg: $light-grey;
$ingredients-content-bg: $light-grey;
$mobile-nav-bg: $gold;
$mobile-submenu-bg: white;
$product-highlight-bg: $light-grey;
$product-tabs: $gold;
$product-active-content: white;
$subnav-bg: $gold;
$subnav-hover-bg: $green;