@font-face {
    font-family: 'Optima';
    src: url('../fonts/optima_medium-webfont.eot');
    src: url('../fonts/optima_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/optima_medium-webfont.woff') format('woff'),
         url('../fonts/optima_medium-webfont.ttf') format('truetype'),
         url('../fonts/optima_medium-webfont.svg#optimamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}