.container {
	margin-bottom: 1.5em;
  @include tablet {
		margin-bottom: 3em;
  }
}

.table-row {
	display: table-row;
	width: 100%;
}

.contact-form {
	.form-label {
		display: inline-block;
		padding-right: 0.6em;
		width: 10%;
	}
	.input {
		display: inline-block;
		width: 100%;
		@include tablet {
			width: 89.5%;
		}
		.input-textfield {
			font-size: 0.8em;
			padding: 0.5em;
			width: 100%;
			margin: 0.3em 0;
			border: 1px solid $contact-title-bg;
		}
	}
	.submit-form {
		display: block;
		margin: auto;
		border: none;
		background-color: $green;
		padding: 0.7em 5em;
		letter-spacing: 1px;
		font-size: 0.9em;
		text-transform: uppercase;
		color: white;
		margin-top: 0.8em;
		&:hover {
			background-color: $gold;
		}
	}
}