header {
	position:relative;
	width: 100%;
	border-bottom: 0.3em solid $border-color;
	padding: 0.6em 0 0.6em;
  background-color: white;
  @include desktop {
  	padding-top: 1em;
  }
  @include desktop-large {
  	padding-top: 1.5em;
  }

  .logo {
		width: 78%;
		// max-width: 450px;
		display:inline-block;
		vertical-align: middle;
		@include tablet {
			width: 34%;
			padding-right: 2%;
			float: left;
		}
		img {
			width: 100%;
			max-width: 350px;
			height: auto;		
			@include tablet {
				max-width: 245px;
			}
			@include desktop {
				max-width: 300px;
			}
			@include desktop-large {
				max-width: 450px;
			}
		}
	}

	.header-content {
		width: 64%;
		float: right;
		display: none;
		@include tablet {
	    display: block;
	  }
		ul.social-media {
			text-align: right;
			width: 100%;
			margin: 0;
			li {
				display: inline;
				margin: 0 0.1em;
				img {
					width: 20px;
					height: auto;
					@include desktop {
						width: 26px;
					}
				}
			}
		}
	}

	/* LANGUAGE BAR */
	select {
	  padding: 0.2em;
	  margin: 0 0 0 0.5em;
	  width: 14em;
	  -webkit-border-radius: 1px;
	  -moz-border-radius: 1px;
	  border-radius: 1px;
	  border: 1px solid $border-color;
	  background: $gold-grey;
	  color: $mid-grey;
	  outline: none;
	  display: inline-block;
	  cursor: pointer;
	  font-size: 0.6em;
		@include desktop {
	  	padding: 0.4em;
	  	font-size: 0.7em;
		}
	}


  &.stick {
  	position: fixed;
  	z-index: 10;
  	padding: 0.6em;
  	top:0;
  	.logo {
  		img {
				max-width: 245px;
        @include desktop {
					max-width: 295px;
        }
  		}
  	}
  	.header-content {
			ul.social-media {
				li {
					img {
						width: 22px;
					}
				}
			}
  	}
		select {
	  	font-size: 0.6em;
		}
		nav {
			ul.menu {
   			margin-top: 0.7em;
   			li {
   				a {
   					&:hover {
   						&:after {
            		margin-bottom: -0.1em;
		            @include desktop {
		              margin-bottom: -0.35em;
		            }
		            @include desktop-large {
		              margin-bottom: 0.15em;
		            }
   						}
   					}
   				}
   				ul {
    				margin-top: -0.2em;
				    @include desktop {
				      margin-top: 0.1em;
				    }
			      @include desktop-large {
   						margin-top: -0.4em;
			      }
   				}
   			}
			}
		}
  }
}